body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f4f7fb;
}

header {
    background: #0f172a;
    color: white;
    padding: 15px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-weight: 500;
}

nav a:hover {
    color: #38bdf8;
}

/* HERO */
.hero {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
    url("elearning2.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-text h2 {
    font-size: 45px;
}

.hero-text p {
    font-size: 18px;
    margin: 15px 0;
}

.btn {
    background: #38bdf8;
    padding: 12px 25px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #0284c7;
}

/* STATS */
.stats {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 60px 20px;
}

.box {
    background: white;
    padding: 30px;
    width: 220px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

.box h3 {
    font-size: 32px;
    color: #0f172a;
}

/* STUDENTS */
.students {
    text-align: center;
    padding: 60px 20px;
}

.images img {
    width: 350px;
    margin: 15px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

/* RESULTS */
.results {
    text-align: center;
    padding: 60px 20px;
}

.result-cards {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card {
    background: white;
    padding: 25px;
    width: 220px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

.card span {
    font-size: 24px;
    font-weight: bold;
    color: green;
}

/* FOOTER */
footer {
    background: #0f172a;
    color: white;
    text-align: center;
    padding: 20px;
}
/* LOGO STYLE */
/* LOGO STYLE */
.logo {
    display: flex;
    align-items: center;
    gap: 18px;
}

.logo img {
    width: 100px;   /* Pehle 70px tha */
    height: auto;
}

.logo span {
    font-size: 30px;   /* Thora text bhi bara */
    font-weight: bold;
    color: white;
}
/* ABOUT SECTION */
.about {
    padding: 80px 20px;
    display: flex;
    justify-content: center;
}

.about-container {
    max-width: 900px;
    text-align: center;
}

.about-container h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-container p {
    font-size: 18px;
    line-height: 1.6;
}

.about-container ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.about-container ul li {
    margin: 10px 0;
    font-size: 17px;
}

/* ABOUT IMAGES */
.about-images {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.about-images img {
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}